@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.light {
  background-color: whitesmoke;
  color: black;
}

.dark {
  background-color: black;
  color: whitesmoke;
}